<!-- ngFor -->
<div class="card-columns">
  <div class="card"  *ngFor= "let item of countries">
      <div class="card-body">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">{{ item.Country }}</h5>
            </div>
              <div class="card-body" >
                <p class="card-text"><strong>Confirmados:</strong> {{ item.NewConfirmed}} / {{ item.TotalConfirmed }}</p>
                <p class="card-text"><strong>Muertos:</strong> {{ item.NewDeaths}} / {{ item.TotalDeaths }}</p>
                <p class="card-text"><strong>Recuperados:</strong> {{ item.NewRecovered}} / {{ item.TotalRecovered }}</p>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>