<div class="card-group">
  <div class="card" >
      <div class="card-body">
        <div class="container-fluid">
          <div class="card" >
            <div class="card-header">
              <h5 class="card-title">Global</h5>
            </div>
              <div class="card-body">
                <p class="card-text"><strong>Confirmados:</strong> {{ global.NewConfirmed }} / {{ global.TotalConfirmed }}</p>
                <p class="card-text"><strong>Muertos:</strong> {{ global.NewDeaths }} / {{ global.TotalDeaths }}</p>
                <p class="card-text"><strong>Recuperados:</strong> {{ global.NewRecovered }} / {{ global.TotalRecovered }}</p>
            </div>
        </div>
      </div>
  </div>
</div>