<div class="card">
  <div class="card-header text-center">
    <h2>Informe Covid</h2>
  </div>
  
  <!-- Manera que yo he realizado: Esta bien, pero hay mejores formas
  <div class="container-fluid">
    <button (click)= "toggleAll()"  style="background-color: green; color: white; border-radius: 5px;">All</button>
    <button (click)= "toggleGlobal()" style="background-color: green; color: white; border-radius: 5px;">Global/Spain</button>
  </div>

  <div *ngIf="showAll">
      <app-informacion
        [countries]="arrCountries"></app-informacion>
  </div>

  <div *ngIf="!showGlobal">
    <app-global
      [global]="objGlobal" ></app-global>

    <app-informacion
      [countries]="arrSpain"></app-informacion>
  </div>
-->
  <div class="container-fluid">
    <button (click)="toggleShow()" class="container-fuid__button--green" >All</button>
    <button (click)="toggleShow()" class="container-fuid__button--green">Global/Spain</button>
  </div>

  <div *ngIf="isShow">
      <app-informacion
        [countries]="arrCountries"></app-informacion>
  </div>

  <div *ngIf="!isShow">
    <app-global
      [global]="objGlobal" ></app-global>

    <app-informacion
      [countries]="arrSpain"></app-informacion>
  </div>
</div>
